[submodule "buildroot"]
	path = buildroot
	url = git:github.com:jcmvbkbc/buildroot.git
[submodule "xtensa-dynconfig"]
	path = xtensa-dynconfig
	url = https://github.com/jcmvbkbc/xtensa-dynconfig
[submodule "esp32s3"]
	path = esp32s3
	url = https://github.com/jcmvbkbc/config-esp32s3
[submodule "crosstool-NG"]
	path = crosstool-NG
	url = https://github.com/espressif/crosstool-NG
